[user]
	name = dailyherold
	email = johnpaul7@gmail.com
[color]
	ui = true
[core]
	editor = vim
[push]
	default = simple
[alias]
	lg = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
