[user]
	name = {{ name | default('John Paul Herold') }}
	useConfigOnly = true
[color]
	ui = true
[core]
	editor = vim
	commentChar = ";"
[push]
	default = simple
[commit]
	template = ~/.gitcommit.txt
[alias]
	st = status
	lg = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[includeIf "gitdir:~/dev/work/swa/"]
        path = ~/dev/work/swa/.gitconfig
